body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u933 {
  position:absolute;
  left:356px;
  top:80px;
  width:282px;
  height:530px;
}
#u934 {
  position:absolute;
  left:2px;
  top:257px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u935 {
  position:absolute;
  left:364px;
  top:132px;
  width:265px;
  height:421px;
  color:#CCCCCC;
}
#u936 {
  position:absolute;
  left:2px;
  top:202px;
  width:261px;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u937 {
  position:absolute;
  left:448px;
  top:101px;
  width:10px;
  height:11px;
}
#u938 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  position:absolute;
  left:466px;
  top:103px;
  width:78px;
  height:8px;
}
#u940 {
  position:absolute;
  left:2px;
  top:-4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u941 {
  position:absolute;
  left:476px;
  top:562px;
  width:39px;
  height:41px;
}
#u942 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u943 {
  position:absolute;
  left:364px;
  top:132px;
  width:265px;
  height:38px;
  color:#CCCCCC;
}
#u944 {
  position:absolute;
  left:2px;
  top:11px;
  width:261px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:364px;
  top:520px;
  width:64px;
  height:33px;
}
#u947 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:428px;
  top:520px;
  width:64px;
  height:33px;
}
#u949 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:492px;
  top:519px;
  width:70px;
  height:33px;
}
#u951 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:562px;
  top:519px;
  width:67px;
  height:33px;
}
#u953 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u954 {
  position:absolute;
  left:364px;
  top:141px;
  width:30px;
  height:20px;
  color:#CCCCCC;
}
#u955 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
