body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1393 {
  position:absolute;
  left:356px;
  top:80px;
  width:282px;
  height:530px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:257px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1395 {
  position:absolute;
  left:364px;
  top:132px;
  width:265px;
  height:421px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:202px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u1397 {
  position:absolute;
  left:448px;
  top:101px;
  width:10px;
  height:11px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1399 {
  position:absolute;
  left:466px;
  top:103px;
  width:78px;
  height:8px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:-4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u1401 {
  position:absolute;
  left:476px;
  top:562px;
  width:39px;
  height:41px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1403 {
  position:absolute;
  left:364px;
  top:132px;
  width:265px;
  height:38px;
  color:#CCCCCC;
}
#u1404 {
  position:absolute;
  left:2px;
  top:11px;
  width:261px;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1405 {
  position:absolute;
  left:364px;
  top:141px;
  width:30px;
  height:20px;
  color:#CCCCCC;
}
#u1406 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1407 {
  position:absolute;
  left:670px;
  top:143px;
  width:14px;
  height:16px;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1409 {
  position:absolute;
  left:466px;
  top:190px;
  width:40px;
  height:40px;
  font-size:28px;
  color:#FF0000;
}
#u1410 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1411 {
  position:absolute;
  left:418px;
  top:254px;
  width:144px;
  height:16px;
  color:#CCCCCC;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u1413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1413 {
  position:absolute;
  left:424px;
  top:280px;
  width:131px;
  height:16px;
  color:#CCCCCC;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
