body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1189 {
  position:absolute;
  left:356px;
  top:80px;
  width:282px;
  height:530px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:257px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  position:absolute;
  left:364px;
  top:132px;
  width:265px;
  height:421px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:202px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u1193 {
  position:absolute;
  left:448px;
  top:101px;
  width:10px;
  height:11px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  position:absolute;
  left:466px;
  top:103px;
  width:78px;
  height:8px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:-4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u1197 {
  position:absolute;
  left:476px;
  top:562px;
  width:39px;
  height:41px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1199 {
  position:absolute;
  left:364px;
  top:132px;
  width:265px;
  height:38px;
  color:#CCCCCC;
}
#u1200 {
  position:absolute;
  left:2px;
  top:11px;
  width:261px;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1201 {
  position:absolute;
  left:597px;
  top:143px;
  width:27px;
  height:16px;
  color:#CCCCCC;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1203 {
  position:absolute;
  left:364px;
  top:141px;
  width:30px;
  height:20px;
  color:#CCCCCC;
}
#u1204 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  position:absolute;
  left:383px;
  top:204px;
  width:57px;
  height:16px;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  position:absolute;
  left:460px;
  top:204px;
  width:78px;
  height:16px;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1209 {
  position:absolute;
  left:383px;
  top:244px;
  width:31px;
  height:16px;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1211 {
  position:absolute;
  left:383px;
  top:290px;
  width:66px;
  height:16px;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  position:absolute;
  left:383px;
  top:330px;
  width:57px;
  height:16px;
}
#u1214 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  position:absolute;
  left:670px;
  top:143px;
  width:14px;
  height:16px;
}
#u1216 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u1217 {
  position:absolute;
  left:448px;
  top:239px;
  width:172px;
  height:26px;
}
#u1217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1217_input {
  font-family:'应用字体';
}
#u1218 {
  position:absolute;
  left:446px;
  top:285px;
  width:172px;
  height:26px;
}
#u1218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1218_input {
  font-family:'应用字体';
}
#u1219 {
  position:absolute;
  left:448px;
  top:239px;
  width:172px;
  height:26px;
}
#u1219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1219_input {
  font-family:'应用字体';
}
#u1220 {
  position:absolute;
  left:446px;
  top:332px;
  width:50px;
  height:18px;
}
#u1220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1220_input {
  font-family:'应用字体';
}
#u1220_input:disabled {
  color:grayText;
}
#u1221 {
  position:absolute;
  left:506px;
  top:332px;
  width:50px;
  height:18px;
}
#u1221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1221_input {
  font-family:'应用字体';
}
#u1221_input:disabled {
  color:grayText;
}
#u1222 {
  position:absolute;
  left:566px;
  top:332px;
  width:63px;
  height:18px;
}
#u1222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1222_input {
  font-family:'应用字体';
}
#u1222_input:disabled {
  color:grayText;
}
