body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:777px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  position:absolute;
  left:356px;
  top:80px;
  width:282px;
  height:530px;
}
#u763 {
  position:absolute;
  left:2px;
  top:257px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764 {
  position:absolute;
  left:364px;
  top:132px;
  width:265px;
  height:421px;
}
#u765 {
  position:absolute;
  left:2px;
  top:202px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u766 {
  position:absolute;
  left:448px;
  top:101px;
  width:10px;
  height:11px;
}
#u767 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  position:absolute;
  left:466px;
  top:103px;
  width:78px;
  height:8px;
}
#u769 {
  position:absolute;
  left:2px;
  top:-4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u770 {
  position:absolute;
  left:476px;
  top:562px;
  width:39px;
  height:41px;
}
#u771 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u772 {
  position:absolute;
  left:364px;
  top:132px;
  width:265px;
  height:38px;
  color:#CCCCCC;
}
#u773 {
  position:absolute;
  left:2px;
  top:11px;
  width:261px;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:364px;
  top:520px;
  width:64px;
  height:33px;
}
#u776 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:428px;
  top:520px;
  width:64px;
  height:33px;
}
#u778 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u779 {
  position:absolute;
  left:492px;
  top:519px;
  width:70px;
  height:33px;
}
#u780 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  position:absolute;
  left:562px;
  top:519px;
  width:67px;
  height:33px;
}
#u782 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u783 {
  position:absolute;
  left:364px;
  top:141px;
  width:30px;
  height:20px;
  color:#CCCCCC;
}
#u784 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u785 {
  position:absolute;
  left:550px;
  top:145px;
  width:69px;
  height:16px;
  color:#CCCCCC;
}
#u786 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  visibility:hidden;
  white-space:nowrap;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u787 {
  position:absolute;
  left:388px;
  top:194px;
  width:187px;
  height:16px;
}
#u788 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u789 {
  position:absolute;
  left:388px;
  top:234px;
  width:200px;
  height:16px;
}
#u790 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u791 {
  position:absolute;
  left:388px;
  top:280px;
  width:154px;
  height:16px;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u793 {
  position:absolute;
  left:388px;
  top:320px;
  width:230px;
  height:16px;
}
#u794 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u795 {
  position:absolute;
  left:388px;
  top:380px;
  width:178px;
  height:16px;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  position:absolute;
  left:388px;
  top:412px;
  width:66px;
  height:16px;
}
#u798 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u799 {
  position:absolute;
  left:454px;
  top:412px;
  width:30px;
  height:30px;
}
#u800 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801 {
  position:absolute;
  left:468px;
  top:462px;
  width:70px;
  height:28px;
}
#u802 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u803 {
  position:absolute;
  left:698px;
  top:462px;
  width:79px;
  height:16px;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u805 {
  position:absolute;
  left:640px;
  top:470px;
  width:0px;
  height:0px;
}
#u805_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u805_seg1 {
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:14px;
}
#u806 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
