body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:356px;
  top:80px;
  width:282px;
  height:530px;
}
#u135 {
  position:absolute;
  left:2px;
  top:257px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:364px;
  top:132px;
  width:265px;
  height:421px;
}
#u137 {
  position:absolute;
  left:2px;
  top:202px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u138 {
  position:absolute;
  left:448px;
  top:101px;
  width:10px;
  height:11px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  position:absolute;
  left:467px;
  top:103px;
  width:78px;
  height:8px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u142 {
  position:absolute;
  left:476px;
  top:562px;
  width:39px;
  height:41px;
}
#u143 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u144 {
  position:absolute;
  left:430px;
  top:363px;
  width:153px;
  height:26px;
  font-size:11px;
  color:#999999;
}
#u145 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u146 {
  position:absolute;
  left:423px;
  top:268px;
  width:67px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u148 {
  position:absolute;
  left:423px;
  top:314px;
  width:56px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
}
#u150 {
  position:absolute;
  left:479px;
  top:177px;
  width:62px;
  height:60px;
  color:#999999;
}
#u151 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#868686;
}
#u152 {
  position:absolute;
  left:440px;
  top:410px;
  width:89px;
  height:14px;
  font-size:11px;
  color:#868686;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u154 {
  position:absolute;
  left:550px;
  top:404px;
  width:27px;
  height:27px;
}
#u155 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u156 {
  position:absolute;
  left:430px;
  top:460px;
  width:153px;
  height:26px;
  font-size:11px;
  color:#999999;
}
#u157 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u158 {
  position:absolute;
  left:430px;
  top:496px;
  width:153px;
  height:26px;
  font-size:11px;
  color:#999999;
}
#u159 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
